@import '../abstracts/variables';

.page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @include dflex(center, flex-start, column, 144px);

  @media screen and (max-width: 1220px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 1110px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 1000px) {
    gap: 80px;
  }

  @media screen and (max-width: 740px) {
    gap: 40px;
  }

  @media screen and (max-width: 550px) {
    padding: 0 10px;
  }
}
