.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo {
  width: 720px;
  height: 620px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @media screen and (max-width: 1440px) {
    right: -46px;
  }

  @media screen and (max-width: 1120px) {
    width: 580px;
    height: 500px;
    right: -36px;
  }

  @media screen and (max-width: 900px) {
    width: 456px;
    height: 400px;
    right: -28px;
  }

  @media screen and (max-width: 520px) {
    width: 344px;
    height: 300px;
  }

  @media screen and (max-width: 520px) {
    right: -23px;
  }
}
