@import '../../styles/abstracts/variables';

.scroll-up {
  color: $primary;
  z-index: 13;

  &:hover {
    color: $primary-darken;
  }

  @media screen and (max-width: 1220px) {
    right: 30px;
    bottom: 30px;
  }

  @media screen and (max-width: 740px) {
    right: 20px;
    bottom: 20px;
  }

  @media screen and (max-width: 550px) {
    right: 10px;
    bottom: 10px;
  }
}
