.intro {
  max-width: 486px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.major {
  text-transform: uppercase;
  color: #FDC435;
  font: bold 20px/27px 'Nunito';
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font: bold 64px/120% 'Playfair Display';
    color: #25282B;
  }

  &__description {
    font: 24px/150% 'Nunito';
    color: #828282;
  }
}