@import '../../../styles/abstracts/variables';

:root {
  --swiper-theme-color: #fdc435;
}

.swiper {
  border-radius: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  display: flex;
  text-rendering: auto;
  top: 55%;

  &:hover {
    --swiper-theme-color: #fdb503;
  }

  @media screen and (max-width: 1220px) {
    top: 100%;
  }
}

.swiper-button-prev-custom {
  left: -10%;

  @media screen and (max-width: 1220px) {
    left: 40%;
  }
}

.swiper-button-next-custom {
  right: -10%;

  @media screen and (max-width: 1220px) {
    right: 40%;
  }
}

.swiper-pagination {
  @media screen and (max-width: 1220px) {
    display: none;
  }
}
