$high: #25282b;
$primary: #fdc435;
$medium: #828282;

$font-family-primary: 'Nunito', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
