$main-color: #25282b;
$primary: #fdc435;
$medium: #828282;
$bg-main: #f9faff;
$bg-secondary: #fff;
$bg-cover: #0000007a;
$shadow: #00000040;
$shadow-secondary: #7090b01a;
$border-color: #e8ecf4;
$danger: #e83b46;

$main-color-darken: darken($main-color, 10%);
$primary-darken: darken($primary, 10%);
$medium-darken20: darken($medium, 20%);
$bg-secondary-darken: darken($bg-secondary, 10%);

$text-shadow: 0px 4px 4px $shadow;

$font-family-primary: 'Nunito', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-secondary: 'Roboto', 'Nunito', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-title: 'Playfair Display', 'Times New Roman', serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

@mixin dflex($aitems: center, $jcontent: center, $direction: row, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  align-items: $aitems;
  justify-content: $jcontent;
  gap: $gap;
}
