$high: #25282B;
$primary: #FDC435;
$medium: #828282;

$font-family-primary: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-title: 900 50px/140% $font-family-primary;
$font-normal: normal 16px/140% $font-family-primary;
$font-bold: bold 16px/140% $font-family-primary;
$font-600: 600 16px/140% $font-family-primary;
$font-600-small: 600 12px/140% $font-family-primary;
$font-600-middle: 600 14px/140% $font-family-primary;
$font-500-small: 500 12px/140% $font-family-primary;
$font-20pt-bold: bold 20px/140% $font-family-primary;
$font-24pt-bold: bold 24px/140% $font-family-primary;
$font-30pt-bold: bold 30px/140% $font-family-primary;
