@import '../../styles/abstracts/variables';

.menu-item-language {
  width: 48px;
  height: 44px;
  position: relative;

  user-select: none;

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 136px;
    width: 58px;
  }

  @media screen and (max-width: 840px) {
    @include dflex(center, center);
  }
}
