@import '../../styles/abstracts/variables';

.projects {
  max-width: 992px;
  width: 100%;
  margin: 0 auto 144px;
  position: relative;

  &__title {
    text-align: center;
    font: bold 4.8rem/120% $font-family-title;
    color: $main-color;
    text-shadow: 0px 4px 4px $shadow;
  }

  &__divider {
    width: 100px;
    height: 4px;
    margin: 0 auto 80px;

    background: $primary;
    border-radius: 2px;
  }
}
