.projects {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;

  &__title {
    text-align: center;
    font: bold 48px/120% 'Playfair Display';
    color: #25282b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__divider {
    width: 100px;
    height: 4px;
    margin: 0 auto 80px;

    background: #fdc435;
    border-radius: 2px;
  }
}
