@import '../../../styles/abstracts/variables';

.button {
  padding: 8px;

  height: 44px;
  width: 100%;

  border-radius: 8px;

  text-align: center;
  font: 500 1.8rem/150% $font-family-secondary;
  color: $main-color;

  transition: 0.2s;
  cursor: pointer;

  &.default {
    background-color: transparent;
    border: 2px solid $main-color;

    &:hover {
      background-color: $bg-secondary-darken;
      border: 2px solid $main-color-darken;
    }
  }

  &.primary {
    background-color: $primary;
    border: 2px solid $primary;

    &:hover {
      background-color: $primary-darken;
      border: 2px solid $primary-darken;
    }
  }

  &.link {
    padding: 0;
    border: none;
  }

  &.project-info__link {
    background-color: transparent;
    border: 1px solid $main-color;

    &:hover {
      background-color: $bg-secondary-darken;
      border: 1px solid $main-color-darken;
    }
  }

  &.icon-link {
    padding: 0;
    width: auto;

    @include dflex();

    background-color: transparent;
    border: 0;

    transition: 0.7s;
    color: $main-color;

    &:hover {
      transform: rotate(360deg);

      background-color: transparent;
      border: 0;

      color: $main-color-darken;
    }
  }
}
