@import '../../../styles/abstracts/variables';

.button {
  padding: 8px;

  height: 44px;
  width: 100%;
  max-width: 140px;
  @include dflex();

  border-radius: 8px;

  text-align: center;
  font: 500 1.8rem/150% $font-family-secondary;
  color: $main-color;

  transition: background-color 0.2s, border 0.2s;
  cursor: pointer;

  &.default {
    background-color: transparent;
    border: 2px solid $main-color;

    &:hover {
      background-color: $bg-secondary-darken;
      border: 2px solid $main-color-darken;
    }
  }

  &.primary {
    background-color: $primary;
    border: 2px solid $primary;

    &:hover {
      background-color: $primary-darken;
      border: 2px solid $primary-darken;
    }
  }

  &.link {
    padding: 0;
    border: none;
  }

  &.project-info__link {
    background-color: transparent;
    border: 1px solid $main-color;

    &:hover {
      background-color: $bg-secondary-darken;
      border: 1px solid $main-color-darken;
    }

    @media screen and (max-width: 900px) {
      max-width: 130px;
    }
  }

  &.icon-link {
    padding: 0;
    width: auto;

    @include dflex();

    background-color: transparent;
    border: 0;

    transition: transform 0.7s, color 0.2s;
    color: $main-color;

    &:hover {
      transform: rotate(360deg);

      background-color: transparent;
      border: 0;

      color: $main-color-darken;
    }
  }

  &.more {
    width: 44px;

    background-color: $primary;
    border-radius: 50%;

    outline: none;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: $primary-darken;
      border: none;
    }

    @media screen and (max-width: 740px) {
      width: 38px;
    }
  }

  @media screen and (max-width: 740px) {
    height: 38px;
  }
}
