@import '../../styles/abstracts/variables';

.intro {
  max-width: 486px;
  width: 100%;
  margin-bottom: 112px;

  @include dflex(flex-start, center, column, 12px);
  align-self: flex-start;
}

.intro-major {
  text-transform: uppercase;
  font: bold 20px/27px $font-family-primary;
  color: $primary;
}

.intro-bio {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font: bold 64px/120% $font-family-title;
    color: $main-color;
  }

  &__description {
    font: 24px/150% $font-family-primary;
    color: $medium;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
