@import '../../styles/abstracts/variables';

.about-me {
  max-width: 486px;
  width: 100%;
  margin-bottom: 112px;

  @include dflex(flex-start, center, column, 12px);
}

.about-me-bio {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font: bold 6.4rem/120% $font-family-title;
    color: $main-color;
  }

  &__description {
    font: 2.4rem/150% $font-family-primary;
    color: $medium;
  }

  &__buttons {
    @include dflex(center, center, column, 12px);
  }
}
