.about-me {
  max-width: 486px;
  width: 100%;
  margin-bottom: 112px;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 12px;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font: bold 64px/120% 'Playfair Display';
    color: #25282b;
  }

  &__description {
    font: 24px/150% 'Nunito';
    color: #828282;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
