@import '../../styles/abstracts/variables';

.cover {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  background-color: $bg-cover;
}

.modal {
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;

  background-color: $bg-secondary;

  border-radius: 12px;
}
