@import '../../styles/abstracts/variables';

.modal {
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;

  background-color: $bg-secondary;

  border-radius: 12px;
}
