@import '../../styles/abstracts/variables';

.header {
  max-width: 1200px;
  margin: 0 auto 54px;
  padding: 12px 0;

  @include dflex(center, space-between, row, 10px);

  font: bold 1.8rem/140% 'Comfortaa';

  @media screen and (max-width: 1220px) {
    padding: 12px 40px;
    margin: 0 auto 30px;
  }

  @media screen and (max-width: 550px) {
    padding: 10px 20px;
    margin: 0 auto 2px;
  }
}
