.header {
  max-width: 1200px;
  margin: 0 auto 54px;
  padding: 12px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font: bold 1.8rem/140% 'Comfortaa';

  @media screen and (max-width: 1220px) {
    padding: 12px 40px;
  }
}
