@import '../../../styles/abstracts/variables';

.input-wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font: 600 2.2rem/150% $font-family-primary;
  color: $main-color;
}

.textarea,
.input {
  display: flex;
  align-items: center;

  background: $bg-secondary;
  border: 1px solid $border-color;
  border-radius: 8px;

  font: 400 1.6rem/150% $font-family-primary;
  color: $main-color-darken;
}

.textarea {
  height: 160px;
  padding: 7px 10px;
  resize: none;
}

.input {
  padding: 7px 10px;
}

.input-error {
  position: absolute;
  bottom: -25px;
  right: 0;

  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;

  color: $danger;

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}
