#chartdivcollapsible {
  width: 1110px;
  height: 500px;

  @media screen and (max-width: 1200px) {
    width: 1000px;
  }

  @media screen and (max-width: 1110px) {
    position: relative;
    top: 0;
    right: 30px;
  }

  @media screen and (max-width: 550px) {
    right: 10px;
  }
}
