.footer {
  position: relative;
}

.footer-copy {
  text-align: center;
  font: 400 16px/150% 'Nunito';
  color: #828282;
}

.footer-space {
  height: 350px;
}

.footer-lava-lamp {
  overflow: hidden;
  height: 550px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  @media screen and (max-width: 1920px) {
    height: 444px;
  }

  @media screen and (max-width: 1280px) {
    height: 350px;
  }
}
