@import '../../../styles/abstracts/variables';

.job-more-divider {
  width: calc(100% - 64px);
  height: 2px;
  margin: 8px 0 11px 0;

  background: $primary;
  border-radius: 2px;
}

.job-more-info {
  width: calc(100% - 64px);
  margin-top: 10px;
  font: 400 1.6rem/150% $font-family-primary;
  color: $medium;
}
