@import '../../../styles/abstracts/variables';

.success-modal {
  max-width: 290px;
  width: 100%;

  position: relative;
  padding: 46px 12px 12px 12px;

  @include dflex(center, center, column, 18px);

  text-align: center;
  font: 400 18px/150% $font-family-primary;
  color: $main-color;

  .icon-link {
    position: absolute;
    right: 10px;
    top: 10px;

    transition: 0.2s;
    transform: scale(1);

    color: $main-color;

    &:hover {
      color: $main-color-darken;
    }
  }

  .icon-link,
  .icon {
    width: 24px;
    height: 24px;
  }
}
