@import '../../../styles/abstracts/variables';

.project {
  margin-bottom: 50px;

  @include dflex(center, space-between);

  background-color: $bg-secondary;
  border-radius: 24px;
  box-shadow: 3px 6px 15px 3px $shadow-secondary;

  &.left {
    flex-direction: row-reverse;

    .project-info__image {
      width: 50%;
      border-radius: 24px 0 0 24px;
    }
  }
}

.project-info {
  width: 100%;
  margin: 0 40px;

  display: flex;
  flex-direction: column;

  gap: 24px;

  &__title {
    font: 700 4rem/150% $font-family-title;
    color: $main-color;
  }

  &__description {
    font: 400 1.8rem/150% $font-family-primary;
    color: $medium;
  }

  &__link {
    @include dflex();

    font: 500 1.8rem/150% $font-family-secondary;
    color: $main-color;
  }

  &__image {
    width: 50%;
    border-radius: 0 24px 24px 0;
  }
}
