@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito/Nunito-Regular.eot');
  src: local('Nunito Regular'), url('../../assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito/Nunito-Regular.woff') format('woff'),
    url('../../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype'),
    url('../../assets/fonts/Nunito/Nunito-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito/Nunito-SemiBold.eot');
  src: local('Nunito SemiBold'), url('../../assets/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/Nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito/Nunito-SemiBold.woff') format('woff'),
    url('../../assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype'),
    url('../../assets/fonts/Nunito/Nunito-SemiBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/Nunito/Nunito-Bold.eot');
  src: local('Nunito Bold'), url('../../assets/fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Nunito/Nunito-Bold.woff') format('woff'),
    url('../../assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Nunito/Nunito-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../../assets/fonts/Comfortaa/Comfortaa-Bold.eot');
  src: local('Comfortaa Bold'), url('../../assets/fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
    url('../../assets/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Comfortaa/Comfortaa-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot');
  src: local('PlayfairDisplay Bold'),
    url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
    url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
    url('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), url('../../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
    url('../../assets/fonts/Roboto/Roboto-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
