@import '../../../styles/abstracts/variables';

.slide-more-divider {
  width: calc(100% - 64px);
  height: 2px;
  margin: 8px 0 11px 0;

  background: $primary;
  border-radius: 2px;
}

.slide-more-info {
  width: calc(100% - 64px);
  margin-top: 10px;
  font: 400 1.6rem/150% $font-family-primary;
  color: $medium;
}

.slide-more-info-image {
  width: calc(100% - 64px);
  margin-top: 10px;

  &_clicked {
    transition: transform 0.3s;
    cursor: pointer;
    will-change: transform;

    &:hover {
      transform: rotateX(10deg);
    }
  }
}
